apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: studentqna
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: studentqnaacr9355.azurecr.io/studentqna-backend:latest
          ports:
            - containerPort: 8080
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: "Production"
            - name: ConnectionStrings__DefaultConnection
              valueFrom:
                secretKeyRef:
                  name: postgres-credentials
                  key: ConnectionStrings__DefaultConnection
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
      imagePullSecrets:
        - name: acr-secret
